body {
    background-color: lightgreen;
}

.topPanel{
    position: absolute;
    left: 5%;
    right: 5%;
    top: 5%;
    height: 20%;
    width: 80%;
    background-color: orange;
    color: whitesmoke;
}

.mainPanel {
    position: absolute;
    top: 30%;
    left: 5%;
    right: 5%;
    height: 70%;
    width: 80%;
    background-color: lightcyan;
    color: darkblue;
}

h1, h2 {
    text-align: center;
    text-decoration: double;
}
header,footer{
    background-color:red;
}
.centerPanel {
    position: absolute;
    left: 1%;
    top: 22%;
    width: 97%;
    height: 59%;
    background-color: white;
    color: darkmagenta;
}